@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import "tailwindcss";

@theme {
  --color-old-lace-50: #fdf5e6;
  --color-shark-900: #242424;
  --color-shark-700: #484848;
  --color-mauvelous-300: #f497ad;
  --color-mauvelous-400: #f27b9a;
  --color-mauvelous-500: #f04a80;
}
html {
  overscroll-behavior: none;
}
body {
  @apply text-shark-900 bg-shark-900;
  background: url('assets/bg.png');
  font-family: "JetBrains Mono", monospace;
  
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}
